@import "all";
/* banner */
.banner{
  width:100%;
  margin-bottom: 32px;
  img{
    width:100%;
  }
}
/* list */
.list{
  font-size: 12px;
  margin-bottom: 185px;
  p{
    margin:0;
  }
}
/* wanted */
.wanted .wantp{
  font-size: 14px;
  margin-bottom: 80px;
}
/* picture */
.picture{
  width:100%;
  margin-top: 220px;
  margin-bottom: 210px;
  img{
    width:100%;
  }
}